.slider {
    margin: 0;
    padding: 0;
}

.slider__content {
    margin: 0;
    padding: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    width: 100%;
}

.slider__content_arrow-left,
.slider__content_arrow-right {
    margin: 0;
    padding: 0;
    display: block;
    border: none;
    width: 25px;
    height: 45px;
    background-image: url('../../images/arrow_l.svg');
    object-fit: contain;
    cursor: pointer;
}

.slider__content_arrow-right {
    background-image: url('../../images/arrow_r.svg');
}

.slider__content_descr {
    margin: 0 auto;
    padding: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 30px;
    width: 60vw;
    text-align: center;
}

.slider__buttons {
    margin: 75px 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.slider_dot {
    margin: 0;
    padding: 0;
    height: 20px;
    width: 20px;
    border: none;
    display: block;
    background-color: #D9D9D9;
    border-radius: 50%;
    cursor: pointer;
}

.slider_dot-active {
    background-color: #222222;
}